@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, pink, rgb(248, 177, 177));
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(168, 118, 118, 0.63);
    width: 600px;
    padding: 10px;
    margin: auto ;
}

h1 {
    color: rgb(248, 46, 46);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(158, 34, 34);
}

h2 {
    color: rgb(148, 35, 0);
}

p {
    text-align: justify;
}