@charset "UTF-8";

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}

/* 
    Blue Green #02A2D2
    Moonstone #07BBD1
    Robin Egg Blue #03CFCC
    Pacific Cyan #00A5D1
    
*/

body {
    background-color:white;
}

header {
    background-color:#010101;

    height: 200px;
}

header img {
    width: 400px;
    height: 200px;
}


nav {
    background-color: rgb(59, 58, 58);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.405);
}

nav a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    font-weight: bolder;
}

a:hover {
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
    transition: .8s;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.299);
}

main {
    background-color: #ffffff;
    margin: auto;
    width: 100%;

}

p {
    text-align: justify;
    width: 1800px;
    text-indent: 20px;
    line-height: 1.5em;
    font-size: 2em;
    margin:0px 0px 0px 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
}

article {
   
}

h1 {
    width: 500px;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgb(79, 79, 79), rgb(255, 255, 255));
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 3em;
}

div  {
    /* max-height: 700px; */
}

div.imagem {
    background-color: #a5a4a4;
    background-image: url(imagens/foto1.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center left;
    background-attachment: fixed;

    width: 100%;
    height: 1000px;

}

ul {
    margin: 0px 20px 0px 20px;
    padding-top: 20px;
    list-style-position: inside;
}

footer > p {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
    
}






